@import "tailwindcss";

:root {
  --background: #ECF0F0;
  --background2: #eaf4f3;
  --foreground: #000;
  --color: #282828;
  --siteColor: #004759;
  --siteColor2: #73bd44;
  --siteColor3: #e1efd7;

}
@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}



html {
  scroll-behavior: smooth;

}
.megamenu-active-tab{
  color: var(--siteColor);
  background: var(--background2);
}
body {
  background: var(--background2);
  color: var(--foreground);
font-family: "Mona Sans", sans-serif;
  font-weight: 500;
}
.mob-menu{
  overflow: auto;
  max-height: calc(100vh - 60px);
    margin-top: -20px;
    z-index: -1;
    position: relative;
}
.text-site{
  color: var(--siteColor);
}
.text-1{
  color: var(--color);
}
.text-2{
  color: #C4C4C4;
}
.bg-nav-cover .second-header{
  border-top-left-radius: 0!important;
    border-top-right-radius: 0!important;
}
@keyframes menuSlideDown {
  from {
    transform: scaleY(0.7);
    opacity: 0;
  }

  to {
    transform: scaleY(1);
    opacity: 1;
  }
}

@keyframes menuSlideUp {
  from {
    transform: scaleY(1);
    opacity: 1;
  }

  to {
    transform: scaleY(0.7);
    opacity: 0;
  }
}

.animate-menuSlideDown {
  animation: menuSlideDown 0.3s ease forwards;
}

.animate-menuSlideUp {
  animation: menuSlideUp 0.3s ease forwards;
}

.font-light2 {
  font-weight: 200;
}
.hero-section{
  /* background: url(/bg4.jpg); */
  background-position:right bottom;
  background-size: cover;
}
.hero2-bg:before{
content: '';
position: absolute;
top: 0px;
left: 0px;
background:rgba(9, 66, 77, 0.7);
width: 100%;
height:100%;

}



.hero-text > *{
  z-index: 1;
  position: relative;
}

.partners-container .swiper {
  padding-bottom: 70px;
}

.swiper-pagination-bullet-active {
  background: var(--siteColor) !important;
}





.bg-nav {
  transition: .3s;
}


.bg-nav-cover {
  top: -2px;
}
.main-header {
  transition: .3s;
}
.index-page .bg-nav-cover {
  top: -38px;
}
.bg-nav-cover .main-header {
  height: 70px;
}
.property-page header .second-header{
  background: white;
}
.menu-item {
  color: black;
  position: relative;
  font-size: 17px;
}

.menu-item::before {

  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 2px;
  background-color: var(--siteColor);
  transition: .3s;
}

.menu-active.menu-item::before {
  width: 100%;
}

.menu-item:hover::before {
  width: 100%;
  opacity: .8;
}
.hero-section::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background:  var(--siteColor);
 /* box-shadow: inset 0 0 0 2000px #1a586733; */
  z-index: 1;

}

.hero-cover::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #0000008b;
  background-size: cover;
  z-index: 1;

}

.hero-cover2::before {
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.863), rgba(0, 0, 0, 0.642), rgba(30, 21, 195, 0.347), transparent);


}

.hero2:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg, rgba(30, 21, 195, 0.579), transparent);
  z-index: 1;

}

/* button style start */
.button {
  /* border: 2px solid var(--siteColor); */
  justify-content: center;
  align-items: center;
  padding: 8px 8px 8px 30px;
  font-size: 16px;
  text-decoration: none;
  display: flex;
  position: relative;
  cursor: pointer;
  font-weight: 500;
  font-weight: 300;
    background: var(--siteColor);
     border-radius: 36px;
       min-height: 53px;

}
.button.transparent-btn5 {

    background: var(--siteColor2);


}
/* .button.transparent-btn5 *{


    color: var(--siteColor);

} */
.button.no-icon{
  padding: 8px 14px 8px 14px;

}
.menu span {
  transition: transform 0.2s cubic-bezier(.33, 1.04, .67, 1.02);
  will-change: transform;
}



.transparent-btn{
  background: #fff;
  /* border: 2px solid rgba(255, 255, 255, 1); */


}

.button-text > .btn-svg{
  background: white;
  border-radius: 50%;
  transition: .3s;
  padding: 10px;
}
.whatsapp-btn .button-text > .btn-svg{
  padding: 7px;
}
.button:hover .button-text > .btn-svg{
 transform: rotate(45deg);
}
.button:hover .button-text > .btn-svg{
transform:none;
}
.whatsapp-btn svg{
  display: none;
}
.button svg.whatsapp{
  display:none;
}
.whatsapp-btn svg.whatsapp{
  display:block;
}
.button.no-icon .btn-svg{
  display: none;
}
.text-anim{
  display: flex;
  flex-direction: column;
  line-height: 30px;
  height: 30px;
  position: relative;
  transition: .3s;
  top: 0;
}
.button:hover .text-anim{
  top: -30px;
}
.reverse-flex .button-text {
  flex-direction: row-reverse;
}

.button-text {
  z-index: 25;
  position: relative;
  text-align: center;
  transition: .3s;
  font-weight: 400;
  color: white;
  display: flex;
  align-items: center;
  gap: 20px;
  overflow: hidden;
}
.px-5 .button-text{
  padding-left: 16px;
  padding-right: 16px;
}
.justify-between .button-text {
    justify-content: space-between;
    width: 100%;
}
.transparent-btn .button-text {
  color: #000000;

}
.button.transparent-btn2{
  background: transparent;
  padding-left: 0;
  padding-right: 0;
}
.button.transparent-btn3 .button-text{
  color: var(--siteColor);
  font-weight: 500!important;
  gap: 10px;
}
.button.transparent-btn2 .button-text > .btn-svg {
    background: #46ADC0;
    width: 25px;
    height: 25px;
    padding: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.button.transparent-btn4 .button-text > .btn-svg {
    background: var(--siteColor);

}
.button.transparent-btn3 .button-text > .btn-svg {
    background: var(--siteColor);

}

.button.transparent-btn2 .button-text > .btn-svg svg {
   width: 12px;
   height: 12px;
}
.button.transparent-btn2 .btn-svg svg path{
  fill: white;
}

.button.transparent-btn4 .btn-svg svg path{
  fill: white;
}

/* button style end */
.service-info ul {
    padding-top: 20px;
    padding-left: 30px;
}
 ul{
  list-style-type: none;
}
.service-info ul li:before {
    content: "";
    background-color: var(--foreground);
    width: 15px;
    height: 1px;
    position: absolute;
    top: 50%;
    left: -25px;
    transform: translateY(-50%);
}

.large-growing-images.small {
    height: 35vw;
    min-height: 400px;
    overflow: hidden;
}

.growing-background.seven {
       background-image: url(/about-us-banner.png);
}
.growing-background {
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    inset: 0;
    overflow: hidden;
}
.service-card-overlay:before{
  content: '';
  position: absolute;
  top: 00;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(45deg, #1a5867, transparent);
}
.service-slide .swiper{
  padding-bottom: 60px!important;
}
.service-slide .swiper-pagination span{
background-color: #D9D9D9;
width: 12px;
border-radius: 5px;
height: 5px;
}
.service-slide .swiper-pagination .swiper-pagination-bullet-active{
  background-color: white!important;
  width: 35px;
}

.process-slide .swiper{
  padding-bottom: 60px!important;
}
.process-slide .swiper-pagination span{
background-color: #94AFB4;
width: 12px;
border-radius: 5px;
height: 5px;
opacity: 1!important;
}
.process-slide .swiper-pagination .swiper-pagination-bullet-active{
  background-color: var(--siteColor)!important;
  width: 35px;
}

.process-card-svg{
  position: absolute;
  right: -36px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
}
.process-card:last-child .process-card-svg{
  display: none;
}
h1 span{
  line-height: 1!important;
}
.marquee-img {
  position: relative;
}

.marquee-img::before {
  content: "";
  width: 1px;
  height: 100%;
  background-color: #00000040;
  position: absolute;
  top: 0;
  left: -25px;
  opacity: .5;
}



.calculator-form select {
  font-size: 13px;
}

.active-service svg path{
  fill: white;
}
.social-icon2{
  transition:  .3s;
}
.social-icon2:hover{
  margin-top: -4px;
}


.property-media {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.property-info {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

/* Make it stack on mobile */
@media (max-width: 768px) {
  .property-page {
    flex-direction: column;
  }
}

@media (max-width: 990px) {
  .index-page .bg-nav-cover {
    top: -0px!important;
  }
  .process-slide .swiper{
  padding-left: 20px;
}
}
@media (max-width: 768px) {
  .process-card-svg{
  right: auto;
  left: 50%;
  top:auto;
  bottom: -36px;
  transform: translateX(-50%) rotate(90deg);
}
}
@media (max-width: 600px) {
  


  .hero-cover2::before {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.827), rgba(30, 21, 195, 0.347));


  }

  .cost-btns .button {

    min-width: auto;

}
.button {
    padding: 4px 4px 4px 18px;
    min-height: 45px;
}
.button-text{
  font-size: 13px;
  gap: 10px;
}
.megamenu-active-tab {
    background: var(--background);
}
.hero-section::before {

  background: var(--siteColor);


}

}